body {
  background-color: rgb(246, 231, 242);
  padding: 60px;
}

.goals {
  background-color: #fff;
  padding: 32px;
  border-radius: 24px;
  max-width: 1000px;
}

.goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  font-size: 14px;
  color: #db3db0;
  border-radius: 24px;
  background: #f098d8;
  padding: 8px 14px;
}

.goal-list {
  list-style-type: none;
}

.goal-item {
  background-color: #fff;
  border: 1px solid #f098d8;
  border-radius: 15px;
  padding: 10px;
}

.goal-form {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.input-area {
  display: flex;
  justify-content: space-between;
}

form input {
  border-radius: 15px;
  padding: 8px;
  background: #ffdbf5;
  border: 1px solid #f098d8;
  width: 70%;
  padding: 16px 16px;
}

form button {
  border-radius: 15px;
  background: #ea45be;
  border: none;
  padding: 8px 16px;
}

.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
}

.delete-btn i {
  color: #ea45be;
  height: 20px;
  width: 20px;
  justify-content: space-between;
}

.goal-checkbox {
  appearance: none;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  border: 1px solid #ffdbf5;
}

.goal-checkbox:checked {
  content: "\2713";
  color: #fff;
  background-color: #000000;
}

.goal-item {
  display: flex;
  justify-content: space-between;
}

.goal-li-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
