body {
  background-color: rgb(247, 235, 243);
  padding: 60px;
}

.dashboard h1 {
  color: #f93fc8;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.goals {
  background-color: #fff;
  padding: 32px;
  border-radius: 24px;
  max-width: 950px;
}

.goals-header h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}

.progress {
  font-size: 14px;
  color: #db3db0;
  border-radius: 24px;
  background: #eabbde;
  padding: 8px 14px;
}

.goal-list {
  list-style-type: none;
}

.goal-item {
  background-color: #fff;
  border: 1px solid #f098d8;
  border-radius: 15px;
  padding: 10px;
}

.goal-form {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.goal-form-row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.goal-form-row input {
  border-radius: 15px;
  padding: 8px;
  background: #ffdbf5;
  border: 1px solid #f098d8;
  flex: 1;
  padding: 16px 16px;
  font-family: "DM Sans", sans-serif;
}

.goal-form-row button {
  border-radius: 15px;
  background: #ff5ed4;
  border: none;
  padding: 8px 16px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
}

.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #f098d8;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
}

.delete-btn i {
  font-size: 16px;
}

.goal-checkbox {
  appearance: none;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  border: 1px solid #ffdbf5;
}

.goal-checkbox:checked {
  background-color: #f388e3;
}

.goal-checkbox:checked::before {
  content: "✓";
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.goal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.goal-li-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "DM Sans", sans-serif;
}

